<!DOCTYPE HTML>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: normal;
            font-size: 19px;
            padding: 5px 5px 5px 5px;
        }

        .pageBottom {
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .reportDate {

            color: white;
            -webkit-text-fill-color: white; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            text-shadow: 1px 1px 1px black;
            float:right;
            width:  180px;
            font-size: 25px;
            margin: 50px 0px 0px 0px;
            font-weight: bolder;
        }

        .background {
            background-image: url({{  cover_page.front_page }});
            background-repeat: no-repeat;
            margin: 5px 5px 0px 5px;
            height: 1295px;
            overflow: hidden;
            background-size: cover;
        }

        .coverTitle {

            font-size: 60px;
            overflow: hidden;
            color: black;
            -webkit-text-fill-color: white; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            text-shadow: 2px 2px 4px black;
            margin: 0px 0px 0px 75px !important;
        }

        .coverTitleDate {

            font-size: 30px;
        }

        .poweredBy {
            width: 101%;
            background-color: white;
            color: black;
            height: 200px;
            overflow: hidden;
        }

        .topSpacer {
            height: 500px !important;
        }

        .middleSpacer {
            height: 455px !important;
        }

        clearBoth {
            clear: both;
        }

        .imageSize {
            height: 80px;
        }

        hr {
            color: white;
        }

        .footerBottomBackground{
            background-color: white;
            position: fixed;
            left: 0;
            height: 100px;
            bottom: 10px;
            width: 100%;
            /*color: black;*/
            /*padding: 0px 25px 0px 25px;*/

        }

        .footerImage {
            margin: 10px 0px 0px 20px;
            height: 150px;
            float: left;
        }

        .imageCo {
            height: 150px;
            margin: 10px 65px 0px 20px;
            float: right;
        }
        .overLayColor {
            box-shadow: inset 2000px 0 0 0 {{ cover_page.theme_color_overlay_rgb }};
            border-color: rgba(0, 255, 0, 1);
            opacity: 0.5;
        }

        .footerSettings {
            /*height: 50px !important;*/
            /*font-family: Arial, Helvetica, sans-serif;*/
            margin: 10px 70px 10px 70px !important;
            padding: 0px 0px 0px 0px !important;
            font-size: 16px;
        }

        .footerImage {
            height: 50px !important;
            float: right;
        }



        .brandingImage {
            height: 50px;
            float: right;
        }

        .brandingDetails {
            text-decoration: none !important;
            color: {{ theme_colour }};
            margin: 25px 0px 0px 0px !important;
            /*padding: 10px 0px 0px 0px !important;*/
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 16px;
            float: left;
            cursor: pointer;
        }
        .brandingDetails:hover {
            cursor: pointer;
        }

        .brandingDetails a {
            font-family: 'Roboto Condensed', sans-serif;
            text-decoration: none !important;
            color: {{ theme_colour }};

        }


        .brandingUrl a {
            font-family: 'Roboto Condensed', sans-serif;
            text-decoration: none !important;
            color: {{ theme_colour }};
        }

        .coverReportType {
            color: white;
            -webkit-text-fill-color: white; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            text-shadow: 1px 1px 1px black;
            /*margin: 50px 0px 0px 0px;*/
            font-weight: bolder;
            font-size: 30px;
        }

        .test img{
            height: 50px;
            border: 1px solid black;
            float: left;
        }

        .footerImage {
            height: 120px;
            float: left;
        }

        .brandingImageCo{
            height: 120px;
            float: right;
        }


    </style>
</head>
<body>
<div class="background overLayColor">
    <div class="reportDate">
    {{ report_details.date_issued | date("d M Y") }}
    </div>
    <div class="topSpacer"></div>
    <div class="coverTitle">
        DIGITAL MEDIA <br>
        ASSESSMENT REPORT
        <div class="coverReportType">
          |  {{ report_types | upper }} |
        </div>
    </div>

    <div class="middleSpacer"></div>

</div>
</div>
<div class="footerBottomBackground">

    <div class="footerSettings">

        {% if cover_page.branding_type == 'co_branded' %}

            {% set company_footer_logo = branding.company_footer_logo %}
            <img src="{{ company_footer_logo }}" class="footerImage">

        {% endif %}

        {% if cover_page.branding_type == 'default' %}
        <div class="brandingDetails">
            www.farosian.com | <a href="{{ branding.footer_link }}">{{ branding.footer_link }}</a> | 011 468 1557
        </div>
        {% endif %}

        {% if cover_page.branding_type == 'white_label' %}
            <div class="brandingDetails">
                <a href="{{ branding.footer_link }}">{{ branding.footer_link }}</a>
            </div>
        {% endif %}

        <div class="brandingImage">

            {% set footer_logo = branding.footer_logo %}

            <img src="{{ footer_logo }}" class="footerImage">
        </div>
    </div>

</div>
</body>
</html>