{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 18px !important;
            margin: 0px 70px 15px 70px;
            height: 700px !important;
        }


        .mainHeaders {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 40px;
            font-weight: 500;
            color: #ffffff;
            padding: 0px 0px 0px 40px;
            background: -moz-linear-gradient(left, #000000 0%, {{ theme_colour }} 50%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #000000 0%, {{ theme_colour }} 50%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #000000 0%, {{ theme_colour }} 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        }

        .mainHeaderIcon {
            position: absolute;
            top: 11px !important;
            left: 540px;
            height: 80px;
            /*margin: 0px 20px 0px 0px;*/
            z-index: 500;
        }

        .mainHeaderIconFillBackground {
            fill: #ffffff;
        }

        .mainHeaderIconFill1 {
            fill: #000000;
        }

        .mainHeaderIconFill2 {
            fill: {{ theme_colour }}
        }

        .mainHeaderIconFill3 {
            fill: none;
            stroke: {{ theme_colour }};
            stroke-miterlimit: 10;
            stroke-width: 1.5px;
        }

        .subjectName {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: bolder;
            font-size: 45px;
            margin: 20px 0px 0px 0px;
        }

        .contentBody {

            margin: 0px 50px 0px 50px !important;
            overflow: hidden;
        }


        /*Sub heading start*/

        .dHeaderTable {

            width: 100%;
        }

        .dHeader1 {
            /*width: 200px;*/
            width: auto;
        }

        .subHeader {
            font-weight: bolder;
            font-family: 'Roboto Condensed', sans-serif;
            display: inline-block;
            font-size: 35px;
            margin: 5px 10px 0px 0px !important;
        }

        .dHeader2 {
            width: 100%;
        }

        .dHeader3 {
            width: 55px;
        }

        .centerLine {
            border: 1px solid black;
            width: 100%;
            margin: 0px 5px 0px 5px;

        }

        .spanIcon {
            margin: 0px 0px 0px 10px;
            width: 50px !important;
            height: 50px !important;
        }

        .eHeader2 {
            width: 840px;
        }

        .pHeader2 {
            width: 710px;
        }

        .phHeader2 {
            width: 825px;
        }

        .nHeader2 {
            width: 800px;
        }

        .dmHeader2 {
            width: 780px;
        }

        .sepHr {

            border: 1px solid black;

        }


        /*Sub heading End*/

        .mainReportColorBackGround {
            /*fill:






        {{ theme_colour }}       ;*/
            fill: {{ theme_colour }}
        }

        .mainReportColorOutLine {
            fill: #ffffff;
        }

        .socialMediaIconTest {
            height: 20px;
        }

        /*test end*/

        /*Sub heading section Start*/

        .row {
            width: 100% !important;
            display: flex;
            flex-direction: row;
            justify-content: left;
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
        }

        .lineThinkness {
            border: 1px solid black;
        }

        .detailHeader1 {
            width: 200px !important;
            font-weight: bolder;
            float: left;
            display: inline;
        }

        .detailHeader2 {
            width: 10px !important;
            margin: 0px 10px 0px 0px;
            padding: 2px 0px 0px 0px;
            display: inline;

        }

        .detailHeader3 {
            width: 60px !important;
            float: right;
            display: inline;

        }

        .educationHeader1 {
            width: 20% !important;
            font-weight: bolder;
            float: right;
        }

        .educationHeader2 {
            width: 80%;
            margin: 0px 10px 0px 0px;
            padding: 2px 0px 0px 0px;

        }

        .educationHeader3 {
            width: 60px !important;
            float: right;

        }

        .workHeader1 {
            width: 30% !important;
            font-weight: bolder;
            float: right;
        }

        .workHeader2 {
            width: 70%;
            margin: 0px 10px 0px 0px;
            padding: 2px 0px 0px 0px;

        }

        .workHeader3 {
            width: 60px !important;
            float: right;

        }


        /*.SVG Icons end*/

        .behaviouralPadding {
            margin: 0px 0px 5px 0px;
        }

        .progressBarHeight {
            height: 10px;
            background-color: {{ circle_graph_inner_color }} !important;
        }

        .progress-bar {
            background-color: {{ theme_colour }} !important;
        }

        .formHeaders {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 24px;
            font-weight: 200;
            margin: 0px 0px 10px 0px;
        }

        .circle-chart__circle {
            animation: circle-chart-fill 2s reverse; /* 1 */
            /*transform: rotate(-90deg); !* 2, 3 *!*/
            transform-origin: center; /* 4 */
            -webkit-transform: rotate(45deg); /* WebKit */
            -moz-transform: rotate(45deg); /* Mozilla */
            -o-transform: rotate(45deg); /* Opera */
            -ms-transform: rotate(45deg); /* Internet Explorer */
            transform: rotate(45deg); /* CSS3 */
            -webkit-backface-visibility: hidden
        }

        .circle-chart__circle--negative {
            transform: rotate(-90deg) scale(1, -1); /* 1, 2, 3 */
        }

        .circle-chart__info {
            animation: circle-chart-appear 2s forwards;
            opacity: 0;
            transform: translateY(0.3em);
        }

        @keyframes circle-chart-fill {
            to {
                stroke-dasharray: 0 100;
            }
        }

        @keyframes circle-chart-appear {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        /* Layout styles only, not needed for functionality */
        html {
            font-family: sans-serif;
            padding-right: 1em;
            padding-left: 1em;
        }

        .grid {
            display: grid;
            grid-column-gap: 1em;
            grid-row-gap: 1em;
            grid-template-columns: repeat(1, 1fr);
        }

        @media (min-width: 31em) {
            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .circleGraph {
            position: relative;
            top: 0;
            left: 0;
        }

        .circleGraphSize {

            width: 150px;
            height: 150px;
        }

        .circleGraphImage {
            position: absolute;
            top: 38px;
            left: 38px;
            height: 75px;
            width: 75px;
        }

        .circleGraphInnerColor {
            stroke: {{ circle_graph_inner_color }};
        }

        .circleGraphOuterColor {
            stroke: {{ circle_graph_out_color }};
        }


        .spacerTop {
            clear: both;
            height: 40px;
        }

        .spacer1 {
            clear: both;
            height: 60px;
        }

        .spacer2 {
            clear: both;
            height: 40px;
        }

        .tdPadding {
            padding: 5px 15px 0px 0px;
            font-size: 18px;
        }

        .tdMainSpacing {
            /*padding: 5px 150px 0px 0px;*/
            width: 140px !important;
        }

        .tdMainSpacingBehavour {
            /*padding: 5px 150px 0px 0px;*/
            width: 290px !important;
        }

        .tdSubSpacing {
            width: 500px !important;
        }

        .trMainSpacingLeftColor {
            border-left: 3px solid black;
        }

        .tdMainSpacingLeftPadding {
            padding-left: 10px;
        }

        .tdSubSpacingBehavour {
            /*padding: 5px 150px 0px 0px;*/
            width: 800px !important;
        }


        .tdFindingSpacing {
            width: 570px;
            color: dimgrey;
        }

        .tableWidth {

            width: 100%;
        }

        .darkerGray {
            color: dimgrey;
            font-weight: 400;
        }

        /*findings Start*/

        .proofTable {
            width: 100%;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
        }

        .proofHitTd {
            width: 540px !important;
            margin: 0px 10px 0px 0px;
            padding: 0px 10px 0px 0px;
        }

        .proofLabel {
            margin: 0px 30px 0px 0px;
        }

        .proofLabelConfirm {
            margin: 0px 30px 0px 0px;
        }


        .confirmationOfIdentity {
            margin: 0px 10px 0px 0px;
            padding: 0px 10px 0px 0px;
        }

        .proofImage {
            height: 225px;
            width: 335px;
            border: 1px solid lightgrey;
            margin: 0px 0px 30px 0px;
        }

        .findingsLists {
            list-style: none;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
        }

        .findingsTable {
            width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 18px !important;

        }

        .findingsTd1 {
            width: 650px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 18px !important;
            vertical-align: top;
        }

        .findingsTd2 {
            width: 450px;
            padding: 0px 0px 0px 0px;
        }

        .findingsImage {
            float: left;
            width: 400px;
            height: 260px;
            padding: 0px 0px 20px 0px;
        }

        /*findings End*/

        .subText {
            font-size: 14px;
        }

        .dividerSpace {
            border-right: 2px solid dimgrey;

        }

        .headerTd1 {
            width: 250px;

        }

        .headerTd2 {
            width: 100%;
        }

        .headerFont {
            font-family: 'Roboto Condensed', sans-serif;
        }

        .floatRight {
            float: right !important;
        }


        .socialMediaScores {

            margin: 10px 0px 0px 22px;
        }

        .page {
            page-break-before: always;
        }

        .page-auto {
            page-break-before: auto;
        }

        .socialMediaIcon {
            height: 80px;
        }


        /*************************************/
        /*      Risk Assessment Style        */
        /*************************************/
        .bx-pager .bx-pager-item {
            position: relative;
            display: inline-block;
            float: left;
            width: 18%;
            margin-left: 6px;
            padding: 10px 0;
            border-width: 0;
            border-style: solid;
        }

        .bx-pager .bx-pager-item .bx-pager-link {
            font-size: 13px;
            line-height: 1.5;
            color: #fff;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: -1px -1px 0 rgba(0, 0, 0, .1),
            1px -1px 0 rgba(0, 0, 0, .1),
            -1px 1px 0 rgba(0, 0, 0, .1),
            1px 1px 0 rgba(0, 0, 0, .1);
            z-index: 1;
        }

        .bx-pager .bx-pager-item .bx-pager-link span {
            display: block;
        }

        .bx-pager .bx-pager-item:before, .bx-pager .bx-pager-item:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
        }

        .bx-pager .bx-pager-item:before {
            top: 0;
            left: 0;
            border-top-width: 38px;
            border-top-color: transparent;
            border-bottom-width: 40px;
            border-bottom-color: transparent;
            border-left-width: 28px;
            border-left-color: #fff;
            border-right-width: 0;
            border-right-color: transparent;
            border-style: solid;
            background: none;
        }

        .bx-pager .bx-pager-item:after {
            top: -4px;
            right: -28px;
            border-top-width: 42px;
            border-top-color: transparent;
            border-bottom-width: 44px;
            border-bottom-color: transparent;
            border-left-width: 30px;
            border-right-width: 0;
            border-right-color: transparent;
            border-style: solid;
            background: none;
            z-index: 1;
        }

        .danger, .danger:after {
            background: #F08080;
            border-color: #F08080;
        }

        .warning, .warning:after {
            background: #FFA500;
            border-color: #FFA500;
        }

        .moderate, .moderate:after {
            background: #CCCC00;
            border-color: #CCCC00;
        }

        .good, .good:after {
            background: #3CB371;
            border-color: #3CB371;
        }

        .success, .success:after {
            background: #008000;
            border-color: #008000;
        }

        .score {
            position: absolute;
            top: -80px;
            left: 30%;
            padding: 5%;
            min-width: 92px;
            background: #fff;
            border-radius: 50%;
            box-shadow: 2px 1px 4px 2px #DDD;
        }

        .score span {
            display: block;
            color: #fff;
            padding: 18px 10px;
            background: #D6D6D6;
            border-radius: 50%;
        }


        .platformSummaryHeaders {
            margin: 0px 0px 10px 0px;
            padding: 0px 0px 0px 0px;
            font-weight: bold;
            font-size: 25px;
            font-family: 'Roboto Condensed', sans-serif;
        }


        .testAgain {
            float: left !important;
            padding: 0px 20px 0px 0px;
            word-wrap: break-word;
            width: 600px
        }


        #riskGauge {
            height: 500px;
            margin: 0px 0px 0px 100px;
            /*width: 400px*/
        }

        .mainRiskGauge {
            position: relative;
            top: 0;
            left: 0;
            z-index: 1000 !important;
        }

        .mainRiskGaugeScore {
            position: absolute;
            top: 340px;
            left: 532px;
            font-size: 35px;
            color: black;
            font-weight: bold;
            z-index: 9000;
        }

        .mainRiskGaugeCircleBackground {
            border-radius: 50%;
            width: 368px;
            height: 368px;
            /*padding: 8px;*/
            overflow: hidden;
            z-index: -10;
            background: {{ main_risk_gauge_circle_background }};
            position: absolute;
            top: 88px;
            left: 416px;
        }

        .mainRiskGaugeCircleBackgroundHalf {
            border-radius: 50% !important;
            background-image: linear-gradient(-90deg, #000000 50%, transparent 50%);
            background-image: -webkit-linear-gradient(-180deg, #000000 50%, transparent 50%);
            background-image: -moz-linear-gradient(-180deg, #000000 50%, transparent 50%);
            background-image: -ms-linear-gradient(-180deg, #000000 50%, transparent 50%);
            background-image: -o-linear-gradient(-180deg, #000000 50%, transparent 50%);
            width: 368px;
            height: 368px;
            overflow: hidden;
            z-index: 9999;
            position: absolute;
            top: 88px;
            left: 416px;
            opacity: 0.2;
        }

        .mainRiskGaugeBackground {
            border-radius: 50%;
            width: 287px;
            height: 268px;
            /*padding: 8px;*/
            overflow: hidden;
            z-index: -1;
            background: #ffffff;
            position: absolute;
            top: 162px;
            left: 455px;
        }

        .circleGraphImage {
            position: absolute;
            top: 38px;
            left: 38px;
            height: 75px;
            width: 75px;
        }

        .fontBolder {
            font-weight: bolder;
        }

        .riskFont {
            font-size: 35px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .weightedScore{
            font-size: 55px;
            font-weight: bold;
            /*color: red;*/
            color: white;
            text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
        }

    </style>

{% endblock stylesheets %}

{% block body %}

    <body>
    <div class="spacerTop"></div>
    {# Main Header start #}
    <div style="position: relative; right: 0; top: 0;">
        <br>
        <div class="mainHeaders">CANDIDATE SUMMARY</div>
        <svg class="mainHeaderIcon" id="Layer_1" data-name="Layer 1"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">

            <path class="mainHeaderIconFillBackground"
                  d="M25,49.64a3,3,0,0,1-2.12-.88L1.24,27.12a3,3,0,0,1,0-4.24L22.88,1.24a3,3,0,0,1,4.24,0L48.76,22.88a3,3,0,0,1,0,4.24L27.12,48.76A3,3,0,0,1,25,49.64Z"/>
            <path
                    class="mainHeaderIconFill1"
                    d="M25,.77a2.57,2.57,0,0,1,1.83.76L48.47,23.17a2.59,2.59,0,0,1,0,3.66L26.83,48.47a2.58,2.58,0,0,1-3.66,0L1.53,26.83a2.59,2.59,0,0,1,0-3.66L23.17,1.53A2.57,2.57,0,0,1,25,.77M25,0a3.43,3.43,0,0,0-2.41,1L1,22.59a3.41,3.41,0,0,0,0,4.82L22.59,49.05a3.4,3.4,0,0,0,4.82,0L49.05,27.41a3.41,3.41,0,0,0,0-4.82L27.41,1A3.43,3.43,0,0,0,25,0Z"/>
            <path
                    class="mainHeaderIconFill2"
                    d="M36,33.61H14a.19.19,0,0,1,0-.07,8.07,8.07,0,0,1,1.71-5.17,8.72,8.72,0,0,1,3.94-2.68,15,15,0,0,1,5.15-.85,15.81,15.81,0,0,1,5.29.77A9.06,9.06,0,0,1,33.88,28a7.38,7.38,0,0,1,1.93,3.93C35.9,32.44,35.94,33,36,33.61ZM34.21,32c0-.06,0-.12,0-.17a5.51,5.51,0,0,0-2-3.25,9.52,9.52,0,0,0-4.77-1.88,16.8,16.8,0,0,0-4.31-.08,11.62,11.62,0,0,0-3.92,1,6.06,6.06,0,0,0-3.07,3,5.21,5.21,0,0,0-.4,1.36Z"/>
            <path
                    class="mainHeaderIconFill2"
                    d="M31.57,16.05A6.59,6.59,0,1,1,25,9.46,6.58,6.58,0,0,1,31.57,16.05ZM25,21A4.94,4.94,0,1,0,20,16,5,5,0,0,0,25,21Z"/>
        </svg>
    </div>
    <div class="clearBoth"></div>
    {# Main Header end #}
    <div class="contentBody">
        {# Sub Header Start #}
        <div class="subjectName">
            {{ candidate.name |upper }}
        </div>
        <!--    Start header-->
        <div class="clearBoth"></div>
        <br>
        <table class="dHeaderTable">
            <td class="dHeader1">
                <span class="subHeader">DETAILS</span>
            </td>
            <td class="dHeader2">
                <div class="centerLine"></div>
            </td>
            <td class="dHeader3">
                <div class="spanIcon">
                    <svg class="mainReportColorBackGround" id="Layer_1" data-name="Layer 1"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <rect x="6.33" y="6.33" width="37.34" height="37.34" rx="3.39"
                              transform="translate(-10.36 25) rotate(-45)"/>
                        <path class="mainReportColorOutLine"
                              d="M30.81,12h.38a.88.88,0,0,1,.56,1c0,.3,0,.6,0,.91.75,0,1.46,0,2.17,0A3.08,3.08,0,0,1,37,16.94v16A3.09,3.09,0,0,1,33.92,36H16.07a3.08,3.08,0,0,1-3-2.25c0-.15-.08-.31-.12-.47V16.59s0-.08,0-.13a3,3,0,0,1,2.61-2.54,17.83,17.83,0,0,1,1.79,0h.81c0-.32,0-.61,0-.91a.86.86,0,0,1,.56-1h.38a.88.88,0,0,1,.56,1c0,.3,0,.6,0,.89h10.5a8.77,8.77,0,0,0,0-.89A.88.88,0,0,1,30.81,12Zm4.69,8.27h-21V32.72a1.61,1.61,0,0,0,1.77,1.78H33.73a1.62,1.62,0,0,0,1.77-1.78V20.27Zm-3.75-4.89v.68a.75.75,0,1,1-1.5,0v-.66H19.75V16a.75.75,0,1,1-1.5,0v-.68H16.11a1.51,1.51,0,0,0-1.57,1.32,19.78,19.78,0,0,0,0,2h21a.45.45,0,0,0,0-.08V17a1.57,1.57,0,0,0-1.41-1.56C33.32,15.34,32.55,15.38,31.75,15.38Z"/>
                    </svg>
                </div>
            </td>
        </table>
    </div>
    <div class="clearBoth"></div>
    <br>
    <!--    end header-->
    <div class="contentBody">
        <table class="tableWidth">
            <tr>
                <td class="fontBolder tdMainSpacing ">
                    Date Requested:
                </td>
                <td class="tdSubSpacing">
                    {{ report_details.date_requested | date("d M Y") }}
                </td>
            </tr>
            <tr>
                <td class="fontBolder tdMainSpacing">
                    Date Issued:
                </td>
                <td class="tdSubSpacing">
                    {{ report_details.date_issued | date("d M Y") }}
                </td>
            </tr>
            <tr>
                <td class="fontBolder tdMainSpacing ">
                    Data Valid As At:
                </td>
                <td class="tdSubSpacing">
                    {{ report_details.date_issued | date("d M Y") }}
                </td>
            </tr>
            <tr>
                <td class="fontBolder tdMainSpacing ">
                    Telephone No:
                </td>
                <td class="tdSubSpacing">
                    {{ report_details.tel_no }}
                </td>
            </tr>
            <tr>
                <td class="fontBolder tdMainSpacing ">
                    Contact Email:
                </td>
                <td class="tdSubSpacing">
                    {{ report_details.email }}
                </td>
            </tr>
        </table>
    </div>
    <div class="spacer1"></div>
    <div class="contentBody">
        <!--    Start header-->
        <div class="clearBoth"></div>
        <br>
        <table class="">
            <td class="">
                <span class="subHeader">EDUCATION HISTORY</span>
            </td>
            <td class="eHeader2">
                <div class="centerLine"></div>
            </td>
            <td class="dHeader3">
                <div class="spanIcon">
                    <svg class="mainReportColorBackGround" id="Layer_1" data-name="Layer 1"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <rect x="6.33" y="6.33" width="37.34" height="37.34" rx="3.39"
                              transform="translate(-10.36 25) rotate(-45)"/>
                        <path class="mainReportColorOutLine"
                              d="M12.47,20.29a2,2,0,0,1,1.09-1c3.61-1.71,7.2-3.44,10.8-5.15a4.33,4.33,0,0,1,3.92,0l10.53,5.15a2.92,2.92,0,0,1,.71.47,1.09,1.09,0,0,1-.09,1.71,3.38,3.38,0,0,1-.64.38c-1.09.55-2.18,1.09-3.28,1.62a.35.35,0,0,0-.24.38q0,3,0,6a1,1,0,0,1-.24.68,11.13,11.13,0,0,1-6.34,3.73,12.15,12.15,0,0,1-7.15-.63,10.85,10.85,0,0,1-4.32-3.16.93.93,0,0,1-.2-.55q0-3.08,0-6.13a.34.34,0,0,0-.23-.37c-.47-.21-.93-.45-1.44-.7V27c0,.12,0,.22.14.3a1.53,1.53,0,0,1,0,2.72l-.08.07,1.4,4.45h-4l1.4-4.46L14,29.91a1.51,1.51,0,0,1,.06-2.6.37.37,0,0,0,.21-.37q0-2.25,0-4.5a.33.33,0,0,0-.25-.37l-.41-.2a2,2,0,0,1-1.17-1.1Zm26.42.32V20.5c-.17-.1-.33-.22-.51-.31L27.79,15a3.28,3.28,0,0,0-3,0c-1.51.71-3,1.44-4.53,2.17l-6.35,3c-.17.08-.32.2-.55.33a4.78,4.78,0,0,0,.47.3,8.76,8.76,0,0,0,.82.39,1.29,1.29,0,0,0,.51.1c.52-.05,1-.12,1.57-.19l3.84-.45,3.88-.46c.55-.06,1.1-.13,1.65-.18a.47.47,0,0,1,.52.42.48.48,0,0,1-.41.54l-.29.05-3.87.45-4,.46-1.51.19.31.15,7.85,3.76a3.34,3.34,0,0,0,3,0L35,22.6l3.43-1.68C38.58,20.83,38.73,20.71,38.89,20.61ZM18.07,24v.34c0,1.69,0,3.38,0,5.06a1.18,1.18,0,0,0,.4,1A10.68,10.68,0,0,0,29,33.18a9.75,9.75,0,0,0,5.16-3.11.72.72,0,0,0,.15-.43c0-1.77,0-3.55,0-5.32V24l-.32.14L28.2,27a4.22,4.22,0,0,1-3.82,0c-2-.94-4-1.9-6-2.86Z"/>
                    </svg>
                </div>
                </span>
            </td>
        </table>
        <!--    End header-->
        <div class="clearBoth"></div>
        <br>
        {% for qualification in candidate.qualification %}
            <table class="tableWidth">
                <tr class="trMainSpacingLeftColor">
                    <td class="fontBolder tdMainSpacing tdMainSpacingLeftPadding">
                        Academic Institution:
                    </td>
                    <td class="tdSubSpacing">
                        {{ qualification.institute }}
                    </td>
                </tr>
                <tr class="trMainSpacingLeftColor">
                    <td class="fontBolder tdMainSpacing tdMainSpacingLeftPadding">
                        Year Graduated:
                    </td>
                    <td class="tdSubSpacing">
                        {{ qualification.end_date }}
                    </td>
                </tr>
            </table>
            <br>
        {% endfor %}
    </div>
    </div>
    <div class="spacer1"></div>
    <div class="contentBody">
        <!--    Start header-->
        <div class="clearBoth"></div>
        <br>
        <table class="">
            <td class="">
                <span class="subHeader">PREVIOUS WORK EXPERIENCE</span>
            </td>
            <td class="pHeader2">
                <div class="centerLine"></div>
            </td>
            <td class="dHeader3">
                <div class="spanIcon">
                    <svg class="mainReportColorBackGround" id="Layer_1" data-name="Layer 1"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <rect x="6.33" y="6.33" width="37.34" height="37.34" rx="3.39"
                              transform="translate(-10.36 25) rotate(-45)"/>
                        <path class="mainReportColorOutLine"
                              d="M13.49,17.07a3.45,3.45,0,0,1,.24-.47,1.24,1.24,0,0,1,1.08-.49h4.94c0-.45,0-.89,0-1.32a2.73,2.73,0,0,1,.07-.7,1.93,1.93,0,0,1,2-1.51c2.29,0,4.57,0,6.86,0a1.93,1.93,0,0,1,2,1.5,3.6,3.6,0,0,1,.07.66c0,.44,0,.88,0,1.36H31c1.56,0,3.12,0,4.68,0A1.18,1.18,0,0,1,37,17a2,2,0,0,1,0,.34v8.56a1.23,1.23,0,0,1-.66,1.15.3.3,0,0,0-.12.25v5.19a1.16,1.16,0,0,1-.87,1.18,2.07,2.07,0,0,1-.5,0H15.64a1.2,1.2,0,0,1-1.33-.94,1.58,1.58,0,0,1,0-.38c0-1.7,0-3.4,0-5.1a.28.28,0,0,0-.18-.3,1.25,1.25,0,0,1-.61-.79ZM26.81,27.64l.28,0L31.24,27l4.5-.61c.38-.06.48-.18.48-.57v-8.4c0-.41-.13-.54-.55-.54H14.83c-.42,0-.55.13-.55.54v8.4c0,.39.1.51.48.57l3.06.42,4.9.67,1,.13c0-.24,0-.43,0-.62a1.14,1.14,0,0,1,1-1.1,8.17,8.17,0,0,1,1,0,1.14,1.14,0,0,1,1.08,1.13Zm-11.75-.37v5.12c0,.45.12.57.57.57H34.86c.45,0,.57-.12.57-.57V27.27l-8.62,1.19c0,.36,0,.7,0,1a1.14,1.14,0,0,1-1.12,1.12h-.75a1.18,1.18,0,0,1-1.26-1.26v-.9ZM29.94,16.1c0-.54,0-1.05,0-1.56a1.14,1.14,0,0,0-1.15-1.15H21.71a1.1,1.1,0,0,0-1.12.93,17.55,17.55,0,0,0,0,1.78h.75c0-.49,0-1,0-1.44s.13-.49.48-.49h6.88c.34,0,.47.14.48.47v1.22c0,.08,0,.16,0,.24ZM28.37,15H22.14V16.1h6.23Zm-3.9,13.29c0,.37,0,.75,0,1.12a.4.4,0,0,0,.43.45c.24,0,.48,0,.71,0a.38.38,0,0,0,.41-.4c0-.77,0-1.55,0-2.32,0-.26-.16-.39-.43-.4s-.43,0-.64,0-.48.14-.48.49S24.46,27.91,24.47,28.26Z"/>
                    </svg>
                </div>
                </span>
            </td>
        </table>
        <!--    End header-->
        <div class="clearBoth"></div>
        <br>
        {% for employment in candidate.employment %}
            <table class="tableWidth">
                <tr class="trMainSpacingLeftColor">
                    <td class=" tdMainSpacing tdMainSpacingLeftPadding">
                        Employer Name:
                    </td>
                    <td class="tdSubSpacing">
                        {{ employment.employer }}
                    </td>
                </tr>
                <tr class="trMainSpacingLeftColor">
                    <td class=" tdMainSpacing tdMainSpacingLeftPadding">
                        Job Title:
                    </td>
                    <td class="tdSubSpacing">
                        {{ employment.job_title }}
                    </td>
                </tr>
                <tr class="trMainSpacingLeftColor">
                    <td class=" tdMainSpacing tdMainSpacingLeftPadding">
                        Duration:
                    </td>
                    <td class="tdSubSpacing">
                        {{ employment.start_date }} {% if employment.currently_employed %} -
                            <b>Current</b> {% endif %}
                    </td>
                </tr>
            </table>
            <br>
        {% endfor %}
    </div>
    </div>
    {# Splits Page #}
    <div class="page"></div>
    {# Splits Page #}

    {% if report_types != 'basic' %}
        <div class="spacerTop"></div>
    {# Main Header start #}
        <div style="position: relative; right: 0; top: 0;">
            <br>
            <div class="mainHeaders">CONDUCT SUMMARY</div>
            <svg class="mainHeaderIcon" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 50 50">
                <path class="mainHeaderIconFillBackground"
                      d="M25,49.64a3,3,0,0,1-2.12-.88L1.24,27.12a3,3,0,0,1,0-4.24L22.88,1.24a3,3,0,0,1,4.24,0L48.76,22.88a3,3,0,0,1,0,4.24L27.12,48.76A3,3,0,0,1,25,49.64Z"/>
                <path class="mainHeaderIconFill1"
                      d="M25,.77a2.57,2.57,0,0,1,1.83.76L48.47,23.17a2.59,2.59,0,0,1,0,3.66L26.83,48.47a2.58,2.58,0,0,1-3.66,0L1.53,26.83a2.59,2.59,0,0,1,0-3.66L23.17,1.53A2.57,2.57,0,0,1,25,.77M25,0a3.43,3.43,0,0,0-2.41,1L1,22.59a3.41,3.41,0,0,0,0,4.82L22.59,49.05a3.4,3.4,0,0,0,4.82,0L49.05,27.41a3.41,3.41,0,0,0,0-4.82L27.41,1A3.43,3.43,0,0,0,25,0Z"/>
                <path  class="mainHeaderIconFill2"
                       d="M23.89,41a2.61,2.61,0,0,1-1.43-1.79.83.83,0,0,0-.4-.61,1,1,0,0,1-.46-.88v-.78c-.46-.11-.59-.23-.59-.5s.16-.39.57-.45V35c-.44-.11-.58-.24-.56-.51s.27-.41.55-.43a5.9,5.9,0,0,0-1.9-5.13,8.66,8.66,0,0,1-1.83-2.34A7.52,7.52,0,0,1,17,23.78c0-.35.11-.56.38-.59s.45.16.5.5a7.08,7.08,0,0,0,2.32,4.46,7.17,7.17,0,0,1,2.16,3.65c.05.2.12.26.33.26q2.32,0,4.65,0a.28.28,0,0,0,.33-.26c.11-.4.25-.8.4-1.19a.44.44,0,0,1,.59-.29.43.43,0,0,1,.22.63A5.84,5.84,0,0,0,28.41,34c.42.07.58.2.58.48s-.17.39-.58.44V36c.42.06.57.19.58.46s-.17.42-.6.46v.66a1.22,1.22,0,0,1-.65,1.16.36.36,0,0,0-.16.21,2.58,2.58,0,0,1-1.41,2l-.06.06h-.29a1.37,1.37,0,0,1-.28-.32c-.09-.26.07-.43.29-.56a1.69,1.69,0,0,0,.86-1.22H23.3a1.68,1.68,0,0,0,.82,1.2c.45.28.47.56.06.9Zm-1.4-5h5V34.94h-5Zm0,.92a.54.54,0,0,0,0,.1v.55c0,.32.11.42.42.43H27c.22,0,.44,0,.47-.28a5.33,5.33,0,0,0,0-.8Zm0-2.9h5V33h-5Z"/>
                <path class="mainHeaderIconFill2"
                      d="M25.18,11a.75.75,0,0,1,.27.66c0,.58,0,1.15,0,1.73a.65.65,0,0,1-.24.42.5.5,0,0,1-.43,0,.52.52,0,0,1-.19-.39c0-.64,0-1.27,0-1.9,0-.17.17-.33.25-.49Z"/>
                <path class="mainHeaderIconFill2"
                      d="M28.78,20.91l.22.51c.29,0,.57,0,.85,0a.71.71,0,0,1,.75.73c0,.42,0,.84,0,1.26a.76.76,0,0,1-.76.77c-.28,0-.57,0-.84,0-.23.44-.23.44.09.77l.27.26a.74.74,0,0,1,0,1.14c-.27.28-.54.56-.82.83a.74.74,0,0,1-1.12,0l-.35-.35c-.13-.13-.23-.25-.46-.15s-.25.23-.24.43a4.56,4.56,0,0,1,0,.64.69.69,0,0,1-.7.65q-.66,0-1.32,0a.69.69,0,0,1-.7-.64,5.25,5.25,0,0,1,0-.79c0-.19-.11-.23-.24-.28s-.23-.12-.36,0a5.78,5.78,0,0,1-.49.5.73.73,0,0,1-1,0q-.48-.45-.93-.93a.72.72,0,0,1,0-1l.31-.31c.34-.34.34-.34.11-.79h-.78a.76.76,0,0,1-.82-.82V22.21a.74.74,0,0,1,.81-.79,3.68,3.68,0,0,1,.47,0,.35.35,0,0,0,.46-.33.37.37,0,0,0-.05-.27c-.15-.18-.34-.33-.49-.5a.72.72,0,0,1,0-1c.29-.32.61-.63.93-.93a.7.7,0,0,1,1,0c.15.13.28.28.42.41s.21.25.44.15a.38.38,0,0,0,.25-.45,4.14,4.14,0,0,1,0-.61.67.67,0,0,1,.64-.65,14.2,14.2,0,0,1,1.46,0,.66.66,0,0,1,.63.65,4.86,4.86,0,0,1,0,.76c0,.21.12.24.25.3s.24.09.36,0a5.21,5.21,0,0,1,.47-.47.72.72,0,0,1,1.05,0c.31.29.6.59.89.89a.74.74,0,0,1,0,1.1C29.19,20.55,29,20.73,28.78,20.91Zm-.07,4.85L28,25.07a.47.47,0,0,1-.1-.61,5.37,5.37,0,0,0,.33-.78.49.49,0,0,1,.54-.39c.31,0,.63,0,1,0v-1h-.94a.5.5,0,0,1-.56-.4,4.66,4.66,0,0,0-.3-.73.5.5,0,0,1,.11-.7c.23-.21.45-.43.61-.59l-.69-.78-.31.36-.35.35a.49.49,0,0,1-.62.09,7.8,7.8,0,0,0-.72-.31c-.37-.13-.44-.22-.45-.61v-.89h-1V19c0,.38-.09.48-.44.6a6.35,6.35,0,0,0-.67.28c-.35.16-.47.15-.75-.13s-.41-.43-.6-.63l-.74.71.68.66a.5.5,0,0,1,.11.68,3.78,3.78,0,0,0-.3.72.52.52,0,0,1-.58.42h-.93v1c.34,0,.66,0,1,0a.5.5,0,0,1,.52.38,3.82,3.82,0,0,0,.31.75.51.51,0,0,1-.11.69l-.64.58.69.8.68-.71a.48.48,0,0,1,.61-.1,5,5,0,0,0,.75.32.52.52,0,0,1,.43.57c0,.31,0,.62,0,.94h1v-1a.5.5,0,0,1,.39-.52,5.39,5.39,0,0,0,.75-.31.5.5,0,0,1,.68.11l.65.68Z"/>
                <path class="mainHeaderIconFill2"
                      d="M33.09,22.61a8.2,8.2,0,0,1-2.47,6l-.72.73a.47.47,0,0,1-.67.08.46.46,0,0,1,0-.68c.23-.25.48-.48.72-.73a7,7,0,0,0,1.91-7.28,6.86,6.86,0,0,0-5.49-5,7.23,7.23,0,0,0-8.52,6c0,.25-.1.46-.39.51s-.55-.22-.48-.64A7.29,7.29,0,0,1,17.89,19,8.07,8.07,0,0,1,33,21.39C33,21.85,33.06,22.32,33.09,22.61Z"/>
                <path class="mainHeaderIconFill2"
                      d="M14.67,22.36h1a.44.44,0,0,1,.46.43.45.45,0,0,1-.45.44c-.66,0-1.33,0-2,0a.44.44,0,0,1,0-.87Z"/>
                <path class="mainHeaderIconFill2"
                      d="M35.35,23.24h-.94a.46.46,0,0,1-.51-.45c0-.26.2-.43.52-.43h1.84c.32,0,.5.16.5.44s-.19.43-.51.44Z"/>
                <path class="mainHeaderIconFill2"
                      d="M33,31.32a2.31,2.31,0,0,1-.38-.24l-1.3-1.3a.45.45,0,1,1,.62-.63c.44.44.9.87,1.31,1.33a.69.69,0,0,1,.11.53C33.36,31.13,33.16,31.21,33,31.32Z"/>
                <path class="mainHeaderIconFill2"
                      d="M31.56,16.65c-.11-.08-.28-.16-.32-.28a.47.47,0,0,1,0-.45c.47-.52,1-1,1.48-1.5a.44.44,0,0,1,.61.61l-1.49,1.49A.92.92,0,0,1,31.56,16.65Z"/>
                <path class="mainHeaderIconFill2"
                      d="M16.93,31.3c-.11-.09-.28-.17-.32-.29a.52.52,0,0,1,.05-.46c.47-.51,1-1,1.46-1.47a.39.39,0,0,1,.58,0,.4.4,0,0,1,0,.58c-.48.5-1,1-1.47,1.47A1.54,1.54,0,0,1,16.93,31.3Z"/>
                <path class="mainHeaderIconFill2"
                      d="M18.87,16.22c-.09.11-.16.28-.28.32a.47.47,0,0,1-.45,0c-.51-.47-1-1-1.49-1.48a.43.43,0,0,1,.6-.61c.5.48,1,1,1.48,1.48C18.8,16,18.81,16.08,18.87,16.22Z"/>
                <path class="mainHeaderIconFill2"
                      d="M25,20.53a2.27,2.27,0,1,1-2.28,2.26A2.27,2.27,0,0,1,25,20.53Zm0,.89a1.37,1.37,0,0,0-1.39,1.36,1.38,1.38,0,1,0,2.76,0A1.37,1.37,0,0,0,25,21.42Z"/>
            </svg>
        </div>
        <div class="clearBoth"></div>
    {# Main Header end #}
    {# <div class="mainHeaders"> #}
    {# DIGITAL MEDIA SUMMARY #}
    {# </div> #}
        <div class="spacer1"></div>
    <div class="contentBody">
        <div class="row">
            <div class="col-xs-6">
                <table class="tableWidth">
                    <tr>
                        <td class="tdMainSpacingBehavour">
                            <span>Creativity</span>
                            <span class="floatRight">{{ overall_behavior_scores.creativity }}</span>
                            <div class="clearBoth behaviouralPadding"></div>
                            <div class="progress progressBarHeight">
                                <div class="progress-bar" role="progressbar"
                                     style="width: {{ overall_behavior_scores.creativity_percentage }}"
                                     aria-valuenow="5"
                                     aria-valuemin="0" aria-valuemax="5"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdMainSpacingBehavour">
                            <span>Communication Skills</span>
                            <span class="floatRight">{{ overall_behavior_scores.communication_skills }}</span>
                            <div class="clearBoth behaviouralPadding"></div>
                            <div class="progress progressBarHeight">
                                <div class="progress-bar" role="progressbar"
                                     style="width: {{ overall_behavior_scores.communication_skills_percentage }}"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdMainSpacingBehavour">
                            <span>Business Writing & Writing ability</span>
                            <span class="floatRight">{{ overall_behavior_scores.business_writing_ability }}</span>
                            <div class="clearBoth behaviouralPadding"></div>
                            <div class="progress progressBarHeight">
                                <div class="progress-bar" role="progressbar"
                                     style="width: {{ overall_behavior_scores.business_writing_ability_percentage }}"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdMainSpacingBehavour">
                            <span> Professional image</span>
                            <span class="floatRight">{{ overall_behavior_scores.professional_image }}</span>
                            <div class="clearBoth behaviouralPadding"></div>
                            <div class="progress progressBarHeight">
                                <div class="progress-bar" role="progressbar"
                                     style="width: {{ overall_behavior_scores.professional_image_percentage }}"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="tableWidth">
                    <tr>
                        <td class="tdMainSpacingBehavour">
                            <span> Professional engagement</span>
                            <span class="floatRight">{{ overall_behavior_scores.professional_engagement }}</span>
                            <div class="clearBoth behaviouralPadding"></div>
                            <div class="progress progressBarHeight">
                                <div class="progress-bar" role="progressbar"
                                     style="width: {{ overall_behavior_scores.professional_engagement_percentage }}"
                                ></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdMainSpacingBehavour">
                            <span> Network Reach</span>
                            <span class="floatRight">{{ overall_behavior_scores.network_reach }}</span>
                            <div class="clearBoth behaviouralPadding"></div>
                            <div class="progress progressBarHeight">
                                <div class="progress-bar" role="progressbar"
                                     style="width: {{ overall_behavior_scores.professional_engagement_percentage }}"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdMainSpacingBehavour">
                            <span> Network Engagement</span>
                            <span class="floatRight">{{ overall_behavior_scores.network_engagement }}</span>
                            <div class="clearBoth behaviouralPadding"></div>
                            <div class="progress progressBarHeight">
                                <div class="progress-bar" role="progressbar"
                                     style="width: {{ overall_behavior_scores.network_engagement_percentage }}"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdMainSpacingBehavour">
                            <span> Teamwork Collaboration</span>
                            <span class="floatRight">{{ overall_behavior_scores.teamwork_collaboration }}</span>
                            <div class="clearBoth behaviouralPadding"></div>
                            <div class="progress progressBarHeight">
                                <div class="progress-bar" role="progressbar"
                                     style="width: {{ overall_behavior_scores.teamwork_collaboration_percentage }}"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Scores range from 0-5 with 0 being the lowest and 5 being the highest.
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% endif %}
        {% if report_types != 'basic' %}
        <!--    Start header-->
        <div class="clearBoth"></div>
        <table class="">
            <td class="">
                <span class="subHeader">PLATFORM SUMMARY</span>
            </td>
            <td class="phHeader2">
                <div class="centerLine"></div>
            </td>
            <td class="dHeader3">
                <div class="spanIcon">
                    <svg class="mainReportColorBackGround" id="Layer_1" data-name="Layer 1"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <rect x="6.33" y="6.33" width="37.34" height="37.34" rx="3.39"
                              transform="translate(-10.36 25) rotate(-45)"/>
                        <path class="mainReportColorOutLine"
                              d="M32.83,13a4.41,4.41,0,0,1,.7.23A2.42,2.42,0,0,1,35,15.4a2.35,2.35,0,0,1,0,.26Q35,25,35,34.34a2.53,2.53,0,0,1-1.28,2.34,2.46,2.46,0,0,1-1.3.32H17.56A2.48,2.48,0,0,1,15,34.92a3.28,3.28,0,0,1,0-.63V15.73A2.51,2.51,0,0,1,17.13,13l0,0ZM16,25v9.35a2.68,2.68,0,0,0,0,.4A1.52,1.52,0,0,0,17.64,36h14.7A1.53,1.53,0,0,0,34,34.33V15.67A1.53,1.53,0,0,0,32.33,14H17.66A1.52,1.52,0,0,0,16,15.67Z"/>
                        <path class="cls-1"
                              d="M23,21A5,5,0,1,1,18,26,5,5,0,0,1,23,21Zm-2.43,8.16a4,4,0,0,0,4.58.23,4,4,0,0,0,1.69-4.54,4,4,0,0,0-3.33-2.78v.25c0,1.15,0,2.3,0,3.45a1,1,0,0,1-.33.78C22.3,27.4,21.44,28.27,20.56,29.15Zm1.94-7.09a3.95,3.95,0,0,0-2.65,6.36l.07-.05c.83-.83,1.66-1.65,2.48-2.49a.41.41,0,0,0,.1-.29V22.06Z"/>
                        <path class="cls-1"
                              d="M25,33H31.4c.37,0,.57.16.59.45a.49.49,0,0,1-.44.54H18.63c-.4,0-.62-.17-.63-.49a.49.49,0,0,1,.44-.5H25Z"/>
                        <path class="cls-1"
                              d="M30.5,22h-1a.51.51,0,0,1-.54-.5.51.51,0,0,1,.54-.5h1.92a.49.49,0,0,1,.53.5.5.5,0,0,1-.55.5Z"/>
                        <path class="cls-1"
                              d="M30.5,25h-1a.51.51,0,0,1-.54-.5.5.5,0,0,1,.54-.49q1,0,1.92,0a.47.47,0,0,1,.53.49.5.5,0,0,1-.53.5h-1Z"/>
                        <path class="cls-1"
                              d="M30.49,28h-.94a.5.5,0,0,1-.55-.51.49.49,0,0,1,.55-.48c.63,0,1.26,0,1.9,0a.47.47,0,0,1,.54.5.49.49,0,0,1-.56.49Z"/>
                        <path class="cls-1"
                              d="M30.51,30c.32,0,.64,0,1,0a.47.47,0,0,1,.52.5.49.49,0,0,1-.54.49H29.53a.5.5,0,0,1-.53-.5.49.49,0,0,1,.52-.49C29.85,30,30.18,30,30.51,30Z"/>
                    </svg>
                </div>
                </span>
            </td>
        </table>
        <!--    End header-->
        <div class="clearBoth"></div>
        <br>
        {# <div class="formHeaders">PLATFORM SUMMARY</div> #}
        <div class="darkerGray">
            * Platform conduct scores range from -1.67 - 5, with -1.67 being the lowest score and 5 being the highest.
            This
            reflects conduct on the individual platform.
        </div>
        <div class="spacer2"></div>
        {% for get_finding in findings %}
            <div class="row">
                <div class="col-xs-2">
                    <div style="position: relative; left: 0; top: 0;">
                        <div class="grid circleGraph">
                            <section>
                                <svg class="circle-chart circleGraphSize" viewbox="0 0 33.83098862 33.83098862"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background circleGraphInnerColor" stroke-width="5"
                                            fill="none" cx="16.91549431" cy="16.91549431" r="12.91549431"/>
                                    <circle class="circle-chart__circle circleGraphOuterColor " stroke-width="5"
                                            stroke-dasharray="{{ get_finding.score_percentage }}" stroke-linecap="round"
                                            fill="none"
                                            cx="16.91549431" cy="16.91549431" r="12.91549431"/>
                                </svg>
                            </section>
                        </div>
                        <div class="circleGraphImage">
                            {% if get_finding.platform == "facebook" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M94.65,49.91c3.13,0,6.26.06,9.38-.07.63,0,1.74-.84,1.75-1.3.13-5.17.08-10.35.08-16.08-6.39-.1-12.56-.58-18.69-.22-15.44.92-22.77,10-24.4,23.65-.66,5.62-.31,11.35-.42,17,0,.93,0,1.87,0,3H44.13V95.24h18v53.53h0V150H83.63v-1h0V95.13h19c1-6.49,2-12.78,3-19.34H83c.45-6.14.44-12.09,1.44-17.86S88.81,50,94.65,49.91Z"/>
                                </svg>
                            {% endif %}

                            {% if get_finding.platform == "twitter" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M107.26,52.74l7.63-2.05.42.43c-2.15,2.13-4.21,4.35-6.46,6.36a3.56,3.56,0,0,0-1.4,2.89c-.43,17.23-7.49,31-22.11,40.32s-35,8.76-48.82-.25c8.67.11,16.3-1.66,23-6.92-8.6-2-13.66-6-14.47-11.24l6-.29c-7.47-2.94-11.57-8.15-12.17-16.25l6.34,1.66c-6.29-6.42-8-13.41-4-21.85,9,10.36,20,16.2,33.66,17.08a11.68,11.68,0,0,0,0-1.45,16.33,16.33,0,0,1,26.8-14.72,3,3,0,0,0,3.45.75c2.6-1,5.22-2,7.8-2.94C112.54,46.71,111.19,48.61,107.26,52.74Z"/>
                                </svg>
                            {% endif %}

                            {% if get_finding.platform == "instagram" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M93,124H58c-2.12-.21-4.24-.39-6.36-.64-5.8-.7-11.1-2.57-15.54-6.53-6.19-5.52-8.69-12.71-8.82-20.67-.24-13.85-.15-27.71,0-41.57A28.78,28.78,0,0,1,31.12,40c4.55-7.77,11.63-11.56,20.36-12.64,2.17-.27,4.36-.44,6.53-.65H93.35l5.72.59c14.08,1.53,23,10.44,24.48,24.5.2,1.9.39,3.8.59,5.71V93.2a14,14,0,0,0-.27,1.68,34.55,34.55,0,0,1-2.93,13.82c-4.29,9-11.77,13.42-21.39,14.64C97.38,123.62,95.2,123.78,93,124ZM75.4,114.92c6.86,0,13.71.11,20.56,0a20.38,20.38,0,0,0,11.9-3.62c5.06-3.69,7-9,7.1-15,.19-13.91.16-27.84,0-41.76a18.83,18.83,0,0,0-4.63-12.82c-3.82-4.24-8.85-5.79-14.26-5.85-13.7-.16-27.41-.14-41.12,0A19.57,19.57,0,0,0,42.44,40c-4.54,3.7-6.33,8.78-6.4,14.33q-.28,21,0,41.93a18.59,18.59,0,0,0,5,13.15c3.79,3.93,8.63,5.29,13.8,5.43C61.69,115.07,68.55,114.92,75.4,114.92Z"/>
                                    <path class="cls-1"
                                          d="M75.51,100.33a25,25,0,1,1,25-24.91A24.92,24.92,0,0,1,75.51,100.33ZM59.31,75.21a16.2,16.2,0,1,0,16.12-16A16.2,16.2,0,0,0,59.31,75.21Z"/>
                                    <path class="cls-1"
                                          d="M107.28,49.43a5.83,5.83,0,1,1-5.91-5.82A5.89,5.89,0,0,1,107.28,49.43Z"/>
                                </svg>
                            {% endif %}

                            {% if get_finding.platform == "pinterest" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M78.59,26.83c2,.25,3.92.41,5.86.77a38.38,38.38,0,0,1,17.11,7.56A32.23,32.23,0,0,1,113.21,52.9a34.89,34.89,0,0,1,.52,13.73,38.39,38.39,0,0,1-6.09,16.42A30.1,30.1,0,0,1,89,96.2,23.08,23.08,0,0,1,76.33,96a14.53,14.53,0,0,1-8-5.69c-.69,2.5-1.32,4.84-2,7.17-1.16,4.13-2.08,8.33-4,12.23a95.18,95.18,0,0,1-7.7,13c-.17.24-.58.51-.81.46s-.48-.48-.53-.77c-1.05-6.43-1.79-12.9-.71-19.38.69-4.1,1.87-8.11,2.86-12.16,1.46-5.93,3-11.86,4.4-17.79a2.79,2.79,0,0,0-.13-1.51C57.86,66.27,57.53,61,60,55.83c1.59-3.29,4.07-5.71,7.81-6.31,5.09-.8,8.79,2,9.21,7.17a21.16,21.16,0,0,1-1.21,7.76c-1.15,3.9-2.35,7.8-3.57,11.68C70,83.28,75.83,88.06,81.94,87.58,88.53,87.07,93,83.44,96.21,78a32.26,32.26,0,0,0,4.06-14.82,26.31,26.31,0,0,0-1.5-11.09A21.39,21.39,0,0,0,87,39.65a29.79,29.79,0,0,0-26.1.65A23.92,23.92,0,0,0,47.36,59.17a21.36,21.36,0,0,0,4.21,16.49A2.28,2.28,0,0,1,52,77.77c-.52,2-1,4-1.55,5.91-.4,1.51-1,1.74-2.4,1a17.71,17.71,0,0,1-7.28-6.63,28.74,28.74,0,0,1-4.44-21.38c2.59-14.44,11.37-23.37,25.09-27.79A43.77,43.77,0,0,1,72.3,27a5.66,5.66,0,0,0,.82-.16Z"/>
                                </svg>
                            {% endif %}

                            {% if get_finding.platform == "linkedin" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M83.83,61.49v6.43c4.57-5.67,10.45-6.78,16.8-6.49,5.71.26,9.64,3.27,12.13,8.27,2.18,4.35,2.76,9.06,2.8,13.83.08,8.75,0,17.5,0,26.25a12.06,12.06,0,0,1-.16,1.35H97.94v-2.79c0-7.75,0-15.5,0-23.25a22.56,22.56,0,0,0-.6-5.18C96.59,77,94,74.7,91.59,74.7A6.87,6.87,0,0,0,85,78.82a13.07,13.07,0,0,0-1.06,5.06c-.1,8.16,0,16.33,0,24.49v2.78H65.8V61.49Z"/>
                                    <path class="cls-1" d="M34.58,61.43H52.92v49.66H34.58Z"/>
                                    <path class="cls-1"
                                          d="M43.07,55.13c-5.24,0-8.7-3.28-8.68-8.17s3.84-8.16,9.36-8.11c5.15,0,8.67,3.38,8.67,8.24S48.76,55.16,43.07,55.13Z"/>
                                </svg>
                            {% endif %}

                            {% if get_finding.platform == "youtube" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M74.79,39.2c10.57.41,21.15.46,31.71.94a54.73,54.73,0,0,1,7.44.89c5.94,1.09,9.75,5.09,10.87,11.32a123,123,0,0,1,1.58,26.06c-.2,6.1-.79,12.19-1.37,18.27-.44,4.49-2.24,8.31-6.21,10.86A17.34,17.34,0,0,1,111,109.8a290,290,0,0,1-32,1.32c-10.72-.05-21.44-.37-32.15-.72a89.42,89.42,0,0,1-10.44-1.07,12.61,12.61,0,0,1-11-10.88c-.77-4.6-1.2-9.28-1.53-13.94a148.27,148.27,0,0,1,.23-22.6,83.83,83.83,0,0,1,1.41-10.5c1.29-6.18,5.61-9.89,11.85-10.67,10-1.26,20.09-1.37,30.17-1.54,2.43,0,4.86,0,7.29,0Zm-10,51.36,26.73-15.4L64.82,59.76Z"/>
                                </svg>
                            {% endif %}

                            {% if get_finding.platform == "flickr" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <circle class="cls-1" cx="75" cy="75" r="54.01"/>
                                    <circle cx="52.49" cy="75" r="19.33"/>
                                    <circle cx="97.51" cy="75" r="19.33"/>
                                </svg>
                            {% endif %}

                            {% if get_finding.platform == "web" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M75,15.64A59.36,59.36,0,1,0,134.36,75,59.43,59.43,0,0,0,75,15.64ZM21.69,78H43.87a134.31,134.31,0,0,0,2.62,22.18H27.92A53.12,53.12,0,0,1,21.69,78ZM97.4,49.8A130.22,130.22,0,0,1,100.15,72H78V49.8ZM78,43.83v-22c4.2.74,7.79,3.12,10.92,7.22a46.32,46.32,0,0,1,6.95,14.74Zm-6-22v22H54.25a46.66,46.66,0,0,1,6.86-14.64C64.24,25,67.82,22.63,72,21.87ZM72,49.8V72H49.88A131.67,131.67,0,0,1,52.7,49.8ZM43.9,72H21.69A53.17,53.17,0,0,1,27.94,49.8H46.59A137,137,0,0,0,43.9,72Zm6,6H72v22.18H52.6A129.64,129.64,0,0,1,49.85,78ZM72,106.13v22c-4.2-.74-7.79-3.12-10.92-7.22-2.79-3.66-5.12-8.63-7-14.78Zm6,22v-22H95.76a46.8,46.8,0,0,1-6.87,14.68C85.76,125,82.18,127.37,78,128.13Zm0-28V78h22.14a132.12,132.12,0,0,1-2.81,22.18ZM106.1,78h22.21a53.12,53.12,0,0,1-6.23,22.18H103.42A137.5,137.5,0,0,0,106.1,78Zm0-6A134.08,134.08,0,0,0,103.5,49.8h18.56A53.17,53.17,0,0,1,128.31,72Zm12.19-28.19H102.06c-1.84-6.65-4.68-13.69-9-19.08A53.65,53.65,0,0,1,118.32,43.83ZM57.08,24.71c-4.33,5.38-7.18,12.43-9,19.12H31.68A53.58,53.58,0,0,1,57.08,24.71ZM31.65,106.13H47.93c1.84,6.66,4.68,13.72,9,19.12A53.65,53.65,0,0,1,31.65,106.13Zm61.27,19.16c4.34-5.39,7.19-12.46,9-19.16h16.38A53.65,53.65,0,0,1,92.92,125.29Z"/>
                                </svg>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="platformSummaryHeaders"> {{ get_finding.platform | upper }}
                        : {{ get_finding.score }}</div>
                    <div class="clearBoth"></div>
                    {#
                    {#                    <ul class="summaryUl"> #}
                    {% if get_finding.comments %}
                        {% for keys,comments in get_finding.comments %}
                            {# <li >{{ comments }}</li> #}
                            <div class="testAgain"><span>&#8226; </span>{{ comments }}</div>

                        {% endfor %}
                    {% else %}

                        <span>No comments</span>
                    {% endif %}
                    {# </ul> #}
                </div>
            </div>
            <hr class="sepHr">
        {% endfor %}

        {# End of contentBody #}
    </div>
    {# Splits Page #}
        <div class="page"></div>
    {# Splits Page #}
        {% if report_types != 'basic' and report_types != 'standard' %}
            <div class="spacerTop"></div>
            {# <div class="mainHeaders"> #}
            {# DETAILED PLATFORM #}
            {# </div> #}


            {# <div class="spacer1"></div> #}

        {% endif %}

        {% if report_types != 'basic' and report_types != 'standard' %}
            {% for summary in detailed_summary %}


                {# Main Header start #}
                <div style="position: relative; right: 0; top: 0;">
                    <br>
                    <div class="mainHeaders">   {{ summary.report_summary.social_media | upper }} ASSESSMENT FINDINGS
                    </div>
                    <svg class="mainHeaderIcon" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 50 50">
                        <path class="mainHeaderIconFillBackground"
                              d="M25,49.64a3,3,0,0,1-2.12-.88L1.24,27.12a3,3,0,0,1,0-4.24L22.88,1.24a3,3,0,0,1,4.24,0L48.76,22.88a3,3,0,0,1,0,4.24L27.12,48.76A3,3,0,0,1,25,49.64Z"/>
                        <path class="mainHeaderIconFill1"
                              d="M25,.77a2.57,2.57,0,0,1,1.83.76L48.47,23.17a2.59,2.59,0,0,1,0,3.66L26.83,48.47a2.58,2.58,0,0,1-3.66,0L1.53,26.83a2.59,2.59,0,0,1,0-3.66L23.17,1.53A2.57,2.57,0,0,1,25,.77M25,0a3.43,3.43,0,0,0-2.41,1L1,22.59a3.41,3.41,0,0,0,0,4.82L22.59,49.05a3.4,3.4,0,0,0,4.82,0L49.05,27.41a3.41,3.41,0,0,0,0-4.82L27.41,1A3.43,3.43,0,0,0,25,0Z"/>
                        <path class="mainHeaderIconFill2"
                              d="M37.53,35.18a4.94,4.94,0,0,1-.47,1,1.9,1.9,0,0,1-2.68.28c-.11-.09-.21-.19-.31-.29l-4.29-4.28c-.11-.11-.19-.2-.37-.1a.44.44,0,0,1-.54-.14.51.51,0,0,1,0-.63l-1.21-1.21c-.52.26-1,.57-1.6.81a9.82,9.82,0,0,1-4.7.82,10,10,0,0,1-5.51-2.07,9.53,9.53,0,0,1-3.67-5.79,10.13,10.13,0,0,1,8.71-12.29l.44-.06h1.45c.42.07.84.13,1.25.21a10.15,10.15,0,0,1,3.31,1.29.52.52,0,0,1,.2.7.53.53,0,0,1-.7.18c-.64-.3-1.26-.65-1.92-.89a8.61,8.61,0,0,0-4.36-.37A9.12,9.12,0,0,0,13,20.1a9.11,9.11,0,0,0,9,10.31,9,9,0,0,0,5.3-1.68A9.13,9.13,0,0,0,29.91,16.8c-.08-.15-.17-.29-.24-.44a.49.49,0,0,1,.19-.69.49.49,0,0,1,.69.21,10.24,10.24,0,0,1,1.09,2.35,10.13,10.13,0,0,1,.42,4.2,10,10,0,0,1-1.51,4.27c0,.08-.09.16-.15.26l1.16,1.16s.14,0,.2,0a.52.52,0,0,1,.63.64.39.39,0,0,0,.1.28c1.36,1.37,2.72,2.74,4.09,4.09a2.87,2.87,0,0,1,1,1.49Zm-5.86-5.51L30.35,31l4.57,4.56a.75.75,0,0,0,.17.14.94.94,0,0,0,1.4-.55,1,1,0,0,0-.32-1l-4.41-4.41Zm-2.08.49,1.26-1.26L30,28.06l-1.25,1.26Z"/>
                        <path class="mainHeaderIconFill2"
                              d="M22,13.59a7.72,7.72,0,1,1-7.72,7.7A7.72,7.72,0,0,1,22,13.59Zm.23,1a6.7,6.7,0,1,0,6.47,6.88A6.71,6.71,0,0,0,22.23,14.6Z"/>
                        <path class="mainHeaderIconFill2"
                              d="M32.54,14.59h-.32a.53.53,0,0,1-.49-.51.52.52,0,0,1,.49-.49h.65a.51.51,0,0,1,.49.5.51.51,0,0,1-.49.5Z"/>
                        <path class="mainHeaderIconFill2"
                              d="M34.55,15.58c0,.14,0,.27,0,.4a.47.47,0,0,1-.44.41.45.45,0,0,1-.5-.33,5.13,5.13,0,0,1,0-1,.44.44,0,0,1,.5-.32.45.45,0,0,1,.44.4C34.54,15.31,34.54,15.45,34.55,15.58Z"/>
                        <path class="mainHeaderIconFill2"
                              d="M35.51,14.58h-.35a.49.49,0,0,1,0-1,4.33,4.33,0,0,1,.72,0,.47.47,0,0,1,.45.48.49.49,0,0,1-.46.5,2.28,2.28,0,0,1-.37,0Z"/>
                        <path class="mainHeaderIconFill2"
                              d="M34.55,12.6c0,.13,0,.27,0,.4a.47.47,0,0,1-.44.4.44.44,0,0,1-.5-.33,4.41,4.41,0,0,1,0-1c0-.21.27-.34.5-.32a.47.47,0,0,1,.43.41C34.54,12.33,34.54,12.47,34.55,12.6Z"/>
                        <path class="mainHeaderIconFill2"
                              d="M28.31,14.5a.5.5,0,0,1,.48-.5.53.53,0,0,1,.52.5.5.5,0,0,1-.5.51A.5.5,0,0,1,28.31,14.5Z"/>
                        <path class="mainHeaderIconFill2"
                              d="M16.47,33.63h.33a.5.5,0,0,1,0,1h-.68a.5.5,0,0,1-.47-.49.51.51,0,0,1,.49-.51Z"/>
                        <path class="mainHeaderIconFill2"
                              d="M13.49,33.63h.35a.47.47,0,0,1,.45.5.47.47,0,0,1-.44.48,4.33,4.33,0,0,1-.72,0,.47.47,0,0,1-.45-.48.49.49,0,0,1,.46-.5Z"/>
                        <path class="mainHeaderIconFill2"
                              d="M14.49,32.61c0-.11,0-.22,0-.32a.49.49,0,0,1,.48-.46.48.48,0,0,1,.5.42,5.08,5.08,0,0,1,0,.78.48.48,0,0,1-.51.42.49.49,0,0,1-.47-.46C14.48,32.86,14.49,32.74,14.49,32.61Z"/>
                        <path class="mainHeaderIconFill2"
                              d="M14.49,35.63c0-.12,0-.24,0-.35a.48.48,0,0,1,.47-.46.47.47,0,0,1,.51.44,5.77,5.77,0,0,1,0,.72.49.49,0,0,1-.51.45.48.48,0,0,1-.48-.48c0-.1,0-.21,0-.32Z"/>
                        <path class="mainHeaderIconFill2"
                              d="M20.06,20.64a3.38,3.38,0,0,1-.31-2.91,2.39,2.39,0,0,1,3.71-1.1,2.45,2.45,0,0,1,.94,2,3.23,3.23,0,0,1-.24,1.59c-.07.13-.14.26-.23.41l.28.08a3.5,3.5,0,0,1,2.5,3.57.51.51,0,0,1-.47.5,1.22,1.22,0,0,1-.27,0H18c-.58,0-.74-.16-.74-.74a3.45,3.45,0,0,1,2.59-3.36Zm-1.73,3.13h7.34a1.78,1.78,0,0,0,0-.26,2.41,2.41,0,0,0-2.35-1.91c-.82,0-1.64,0-2.46,0a2.46,2.46,0,0,0-1.66.58A2.29,2.29,0,0,0,18.33,23.77Zm2.27-4.93c0,.12,0,.23,0,.35A1.39,1.39,0,0,0,22,20.58a1.37,1.37,0,0,0,1.42-1.26,3.86,3.86,0,0,0,0-1,1.28,1.28,0,0,0-1-1.12,1.34,1.34,0,0,0-1.39.46A1.63,1.63,0,0,0,20.6,18.84Z"/>
                    </svg>
                </div>

                <div class="clearBoth"></div>
                {# Main Header end #}

                <br>
                <div class="contentBody">
                <div class="row">
                <div class="col-xs-2">
                    <div style="position: relative; left: 0; top: 0;">
                        <div class="grid circleGraph">
                            <section>
                                <svg class="circle-chart circleGraphSize" viewbox="0 0 33.83098862 33.83098862"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background circleGraphInnerColor" stroke-width="5"
                                            fill="none" cx="16.91549431" cy="16.91549431" r="12.91549431"/>
                                    <circle class="circle-chart__circle circleGraphOuterColor " stroke-width="5"
                                            stroke-dasharray="{{ summary.report_summary.score_percentage }}"
                                            stroke-linecap="round" fill="none"
                                            cx="16.91549431" cy="16.91549431" r="12.91549431"/>
                                </svg>
                            </section>
                        </div>
                        <div class="circleGraphImage">
                            {% if summary.report_summary.social_media == "facebook" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M94.65,49.91c3.13,0,6.26.06,9.38-.07.63,0,1.74-.84,1.75-1.3.13-5.17.08-10.35.08-16.08-6.39-.1-12.56-.58-18.69-.22-15.44.92-22.77,10-24.4,23.65-.66,5.62-.31,11.35-.42,17,0,.93,0,1.87,0,3H44.13V95.24h18v53.53h0V150H83.63v-1h0V95.13h19c1-6.49,2-12.78,3-19.34H83c.45-6.14.44-12.09,1.44-17.86S88.81,50,94.65,49.91Z"/>
                                </svg>
                            {% endif %}

                            {% if summary.report_summary.social_media == "twitter" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M107.26,52.74l7.63-2.05.42.43c-2.15,2.13-4.21,4.35-6.46,6.36a3.56,3.56,0,0,0-1.4,2.89c-.43,17.23-7.49,31-22.11,40.32s-35,8.76-48.82-.25c8.67.11,16.3-1.66,23-6.92-8.6-2-13.66-6-14.47-11.24l6-.29c-7.47-2.94-11.57-8.15-12.17-16.25l6.34,1.66c-6.29-6.42-8-13.41-4-21.85,9,10.36,20,16.2,33.66,17.08a11.68,11.68,0,0,0,0-1.45,16.33,16.33,0,0,1,26.8-14.72,3,3,0,0,0,3.45.75c2.6-1,5.22-2,7.8-2.94C112.54,46.71,111.19,48.61,107.26,52.74Z"/>
                                </svg>
                            {% endif %}

                            {% if summary.report_summary.social_media == "instagram" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M93,124H58c-2.12-.21-4.24-.39-6.36-.64-5.8-.7-11.1-2.57-15.54-6.53-6.19-5.52-8.69-12.71-8.82-20.67-.24-13.85-.15-27.71,0-41.57A28.78,28.78,0,0,1,31.12,40c4.55-7.77,11.63-11.56,20.36-12.64,2.17-.27,4.36-.44,6.53-.65H93.35l5.72.59c14.08,1.53,23,10.44,24.48,24.5.2,1.9.39,3.8.59,5.71V93.2a14,14,0,0,0-.27,1.68,34.55,34.55,0,0,1-2.93,13.82c-4.29,9-11.77,13.42-21.39,14.64C97.38,123.62,95.2,123.78,93,124ZM75.4,114.92c6.86,0,13.71.11,20.56,0a20.38,20.38,0,0,0,11.9-3.62c5.06-3.69,7-9,7.1-15,.19-13.91.16-27.84,0-41.76a18.83,18.83,0,0,0-4.63-12.82c-3.82-4.24-8.85-5.79-14.26-5.85-13.7-.16-27.41-.14-41.12,0A19.57,19.57,0,0,0,42.44,40c-4.54,3.7-6.33,8.78-6.4,14.33q-.28,21,0,41.93a18.59,18.59,0,0,0,5,13.15c3.79,3.93,8.63,5.29,13.8,5.43C61.69,115.07,68.55,114.92,75.4,114.92Z"/>
                                    <path class="cls-1"
                                          d="M75.51,100.33a25,25,0,1,1,25-24.91A24.92,24.92,0,0,1,75.51,100.33ZM59.31,75.21a16.2,16.2,0,1,0,16.12-16A16.2,16.2,0,0,0,59.31,75.21Z"/>
                                    <path class="cls-1"
                                          d="M107.28,49.43a5.83,5.83,0,1,1-5.91-5.82A5.89,5.89,0,0,1,107.28,49.43Z"/>
                                </svg>
                            {% endif %}

                            {% if summary.report_summary.social_media == "pinterest" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M78.59,26.83c2,.25,3.92.41,5.86.77a38.38,38.38,0,0,1,17.11,7.56A32.23,32.23,0,0,1,113.21,52.9a34.89,34.89,0,0,1,.52,13.73,38.39,38.39,0,0,1-6.09,16.42A30.1,30.1,0,0,1,89,96.2,23.08,23.08,0,0,1,76.33,96a14.53,14.53,0,0,1-8-5.69c-.69,2.5-1.32,4.84-2,7.17-1.16,4.13-2.08,8.33-4,12.23a95.18,95.18,0,0,1-7.7,13c-.17.24-.58.51-.81.46s-.48-.48-.53-.77c-1.05-6.43-1.79-12.9-.71-19.38.69-4.1,1.87-8.11,2.86-12.16,1.46-5.93,3-11.86,4.4-17.79a2.79,2.79,0,0,0-.13-1.51C57.86,66.27,57.53,61,60,55.83c1.59-3.29,4.07-5.71,7.81-6.31,5.09-.8,8.79,2,9.21,7.17a21.16,21.16,0,0,1-1.21,7.76c-1.15,3.9-2.35,7.8-3.57,11.68C70,83.28,75.83,88.06,81.94,87.58,88.53,87.07,93,83.44,96.21,78a32.26,32.26,0,0,0,4.06-14.82,26.31,26.31,0,0,0-1.5-11.09A21.39,21.39,0,0,0,87,39.65a29.79,29.79,0,0,0-26.1.65A23.92,23.92,0,0,0,47.36,59.17a21.36,21.36,0,0,0,4.21,16.49A2.28,2.28,0,0,1,52,77.77c-.52,2-1,4-1.55,5.91-.4,1.51-1,1.74-2.4,1a17.71,17.71,0,0,1-7.28-6.63,28.74,28.74,0,0,1-4.44-21.38c2.59-14.44,11.37-23.37,25.09-27.79A43.77,43.77,0,0,1,72.3,27a5.66,5.66,0,0,0,.82-.16Z"/>
                                </svg>
                            {% endif %}

                            {% if summary.report_summary.social_media == "linkedin" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M83.83,61.49v6.43c4.57-5.67,10.45-6.78,16.8-6.49,5.71.26,9.64,3.27,12.13,8.27,2.18,4.35,2.76,9.06,2.8,13.83.08,8.75,0,17.5,0,26.25a12.06,12.06,0,0,1-.16,1.35H97.94v-2.79c0-7.75,0-15.5,0-23.25a22.56,22.56,0,0,0-.6-5.18C96.59,77,94,74.7,91.59,74.7A6.87,6.87,0,0,0,85,78.82a13.07,13.07,0,0,0-1.06,5.06c-.1,8.16,0,16.33,0,24.49v2.78H65.8V61.49Z"/>
                                    <path class="cls-1" d="M34.58,61.43H52.92v49.66H34.58Z"/>
                                    <path class="cls-1"
                                          d="M43.07,55.13c-5.24,0-8.7-3.28-8.68-8.17s3.84-8.16,9.36-8.11c5.15,0,8.67,3.38,8.67,8.24S48.76,55.16,43.07,55.13Z"/>
                                </svg>
                            {% endif %}

                            {% if summary.report_summary.social_media == "youtube" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M74.79,39.2c10.57.41,21.15.46,31.71.94a54.73,54.73,0,0,1,7.44.89c5.94,1.09,9.75,5.09,10.87,11.32a123,123,0,0,1,1.58,26.06c-.2,6.1-.79,12.19-1.37,18.27-.44,4.49-2.24,8.31-6.21,10.86A17.34,17.34,0,0,1,111,109.8a290,290,0,0,1-32,1.32c-10.72-.05-21.44-.37-32.15-.72a89.42,89.42,0,0,1-10.44-1.07,12.61,12.61,0,0,1-11-10.88c-.77-4.6-1.2-9.28-1.53-13.94a148.27,148.27,0,0,1,.23-22.6,83.83,83.83,0,0,1,1.41-10.5c1.29-6.18,5.61-9.89,11.85-10.67,10-1.26,20.09-1.37,30.17-1.54,2.43,0,4.86,0,7.29,0Zm-10,51.36,26.73-15.4L64.82,59.76Z"/>
                                </svg>
                            {% endif %}

                            {% if summary.report_summary.social_media == "flickr" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <circle class="cls-1" cx="75" cy="75" r="54.01"/>
                                    <circle cx="52.49" cy="75" r="19.33"/>
                                    <circle cx="97.51" cy="75" r="19.33"/>
                                </svg>
                            {% endif %}

                            {% if summary.report_summary.social_media == "web" %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 150 150">
                                    <defs>
                                        <style>.cls-1 {
                                                fill: #fff;
                                            }</style>
                                    </defs>
                                    <circle cx="75" cy="75" r="75"/>
                                    <path class="cls-1"
                                          d="M75,15.64A59.36,59.36,0,1,0,134.36,75,59.43,59.43,0,0,0,75,15.64ZM21.69,78H43.87a134.31,134.31,0,0,0,2.62,22.18H27.92A53.12,53.12,0,0,1,21.69,78ZM97.4,49.8A130.22,130.22,0,0,1,100.15,72H78V49.8ZM78,43.83v-22c4.2.74,7.79,3.12,10.92,7.22a46.32,46.32,0,0,1,6.95,14.74Zm-6-22v22H54.25a46.66,46.66,0,0,1,6.86-14.64C64.24,25,67.82,22.63,72,21.87ZM72,49.8V72H49.88A131.67,131.67,0,0,1,52.7,49.8ZM43.9,72H21.69A53.17,53.17,0,0,1,27.94,49.8H46.59A137,137,0,0,0,43.9,72Zm6,6H72v22.18H52.6A129.64,129.64,0,0,1,49.85,78ZM72,106.13v22c-4.2-.74-7.79-3.12-10.92-7.22-2.79-3.66-5.12-8.63-7-14.78Zm6,22v-22H95.76a46.8,46.8,0,0,1-6.87,14.68C85.76,125,82.18,127.37,78,128.13Zm0-28V78h22.14a132.12,132.12,0,0,1-2.81,22.18ZM106.1,78h22.21a53.12,53.12,0,0,1-6.23,22.18H103.42A137.5,137.5,0,0,0,106.1,78Zm0-6A134.08,134.08,0,0,0,103.5,49.8h18.56A53.17,53.17,0,0,1,128.31,72Zm12.19-28.19H102.06c-1.84-6.65-4.68-13.69-9-19.08A53.65,53.65,0,0,1,118.32,43.83ZM57.08,24.71c-4.33,5.38-7.18,12.43-9,19.12H31.68A53.58,53.58,0,0,1,57.08,24.71ZM31.65,106.13H47.93c1.84,6.66,4.68,13.72,9,19.12A53.65,53.65,0,0,1,31.65,106.13Zm61.27,19.16c4.34-5.39,7.19-12.46,9-19.16h16.38A53.65,53.65,0,0,1,92.92,125.29Z"/>
                                </svg>
                                {# </svg> #}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-8">
                <div class="clearBoth"></div>

                {% if report_types == 'high_profile' or report_types == 'full' %}


                    {# <div class="row"> #}

                    {# <div class="col-xs-4"> #}
                    {# <span>Number of Profile Hits</span> #}
                    {# <span> {{ summary.report_summary.profile_hits }}</span> #}
                    {# </div> #}
                    {# <div class="col-xs-4"> #}
                    {# <span>Number of True Hits</span> #}
                    {# <span>{{ summary.report_summary.true_hits }}</span> #}
                    {# </div> #}
                    {# </div> #}


                    <div class="clearBoth"></div>
                    <table>
                        <tr>
                            <td class="proofHitTd">
                                <span class="proofLabel">Number of Hits:</span>
                                <span>{{ summary.report_summary.profile_hits }} </span>
                            </td>
                            <td class="">
                                <span class="proofLabel">Number of True Hits:</span>
                                <span>
                                    {{ summary.report_summary.true_hits }}
                                </span>
                            </td>
                            &nbsp;&nbsp;
                        </tr>
                    </table>

                    <div class="clearBoth"></div>
                    <br>
                    <table class="">
                        <tr>
                            <td class="confirmationOfIdentity">
                                <span class="proofLabelConfirm">
                                    Confirmation of Identity:
                                </span>
                                <span>
                                    {{ summary.report_summary.confirmation_of_identity }}
                                </span>
                                &nbsp;
                            </td>
                            <td class="">
                            </td>
                        </tr>
                    </table>
                    </div>


                    </div>
                    </div>
                {% endif %}

                <div class="spacer2"></div>

                <div class="contentBody">

                {% if report_types != 'basic'  and  report_types != 'basic' %}
                    <!--    Start header-->
                    <div class="clearBoth"></div>
                    <table class="">
                        <td class="">
                            <span class="subHeader">NOTEWORTHY FINDINGS</span>
                        </td>
                        <td class="nHeader2">
                            <div class="centerLine"></div>
                        </td>
                        <td class="dHeader3">
                            <div class="spanIcon">
                                <svg class="mainReportColorBackGround" id="Layer_1" data-name="Layer 1"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                                    <rect x="6.33" y="6.33" width="37.34" height="37.34" rx="3.39"
                                          transform="translate(-10.36 25) rotate(-45)"/>
                                    <path class="mainReportColorOutLine"
                                          d="M33.36,36.28c-.2-.18-.39-.35-.58-.54l-8-8c-.4-.4-.4-.59,0-1l.55-.52-.85-.85a12.87,12.87,0,0,1-1.41.89,6.86,6.86,0,0,1-7.39-.56,6.8,6.8,0,0,1-2.78-4.4l-.12-.69V19.46c.06-.32.11-.64.18-1a7,7,0,0,1,7.88-5.42,6.93,6.93,0,0,1,4.4,2.45,6.7,6.7,0,0,1,1.54,3.4,6.91,6.91,0,0,1-1.48,5.55l-.14.19.88.86.58-.59c.31-.32.54-.32.85,0l8.37,8.37c.31.3.3.53,0,.84-.64.64-1.28,1.27-1.91,1.91l-.28.23ZM13.74,20.05a6.11,6.11,0,1,0,6.1-6.11A6.09,6.09,0,0,0,13.74,20.05Zm21.15,13.7-6.36-6.36-1.37,1.37,6.36,6.36Zm-9.23-6.48.76.76,1.37-1.39L27,25.89Z"/>
                                    <path class="cls-1"
                                          d="M24.83,20.05a5,5,0,1,1-5-5A5,5,0,0,1,24.83,20.05Zm-9,0A4.05,4.05,0,1,0,19.85,16,4.08,4.08,0,0,0,15.8,20.05Z"/>
                                </svg>
                            </div>
                            </span>
                        </td>
                    </table>
                    <!--    End header-->
                    <div class="clearBoth"></div>
                    <br>
                    </div>
                    {% for noteworthy_findingsCheck in summary.report_summary.noteworthy_findings %}

                        {% if  noteworthy_findingsCheck == true %}

                            {% for noteworthy_findings in noteworthy_findingsCheck %}
                                {% if noteworthy_findings %}
                                    <div class="contentBody">
                                        <table class="findingsTable">
                                            <tr>
                                                <td align="left" class="findingsTd1">
                                                    <ul class="findingsLists ">
                                                        <li>
                                                            {{ noteworthy_findings.comment }}
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    {% set url = noteworthy_findings.proof_image %}
                                                    <img src="{{ url }}"
                                                         class="findingsImage">
                                                </td>
                                            </tr>
                                        </table>
                                        <hr class="sepHr">
                                    </div>

                                {% endif %}
                            {% endfor %}

                        {% endif %}

                    {% endfor %}

                {% endif %}
                {# #}{# Splits Page #}
                <div class="page"></div>
                {# #}{# Splits Page #}

            {% endfor %}
            {# Splits Page #}
            </div>
            <div class="page"></div>
            {# Splits Page #}
        {% endif %}
    {% endif %}
    <div class="spacerTop"></div>
    {# Main Header start #}
    <div style="position: relative; right: 0; top: 0;">
        <br>
        <div class="mainHeaders"> RISK ASSESSMENT
        </div>
        <svg class="mainHeaderIcon" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 50 50">
            <defs>
                <style>.cls-1 {
                        fill: #fff;
                    }

                    .cls-2 {
                        fill: #0a222f;
                    }

                    .cls-3 {
                        fill: none;
                        stroke: #000;
                        stroke-miterlimit: 10;
                        stroke-width: 1.5px;
                    }</style>
            </defs>
            <path class="mainHeaderIconFillBackground"
                  d="M25,49.64a3,3,0,0,1-2.12-.88L1.24,27.12a3,3,0,0,1,0-4.24L22.88,1.24a3,3,0,0,1,4.24,0L48.76,22.88a3,3,0,0,1,0,4.24L27.12,48.76A3,3,0,0,1,25,49.64Z"/>
            <path class="mainHeaderIconFill1"
                  d="M25,.77a2.57,2.57,0,0,1,1.83.76L48.47,23.17a2.58,2.58,0,0,1,0,3.66L26.83,48.47a2.58,2.58,0,0,1-3.66,0L1.53,26.83a2.58,2.58,0,0,1,0-3.66L23.17,1.53A2.57,2.57,0,0,1,25,.77M25,0a3.43,3.43,0,0,0-2.41,1L1,22.59a3.41,3.41,0,0,0,0,4.82L22.59,49.05a3.4,3.4,0,0,0,4.82,0L49.05,27.41a3.41,3.41,0,0,0,0-4.82L27.41,1A3.43,3.43,0,0,0,25,0Z"/>
            <rect class="mainHeaderIconFill3" x="23.44" y="16.81" width="2.55" height="11.95" rx="1.28"/>
            <rect class="mainHeaderIconFill3" x="23.45" y="30.6" width="2.55" height="2.59" rx="1.28"/>
            <circle class="mainHeaderIconFill3" cx="25" cy="25" r="13"/>
        </svg>
    </div>
    <div class="clearBoth"></div>
    {# Main Header end #}
    <div class="spacer1"></div>
    <div class="contentBody">
        <!--    Start header-->
        <div class="clearBoth"></div>
        <table class="">
            <td class="">
                <span class="subHeader">DIGITAL MEDIA SCORES</span>
            </td>
            <td class="dmHeader2">
                <div class="centerLine"></div>
            </td>
            <td class="dHeader3">
                <div class="spanIcon">
                    <svg class="mainReportColorBackGround" id="Layer_1" data-name="Layer 1"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <rect x="6.33" y="6.33" width="37.34" height="37.34" rx="3.39"
                              transform="translate(-10.36 25) rotate(-45)"/>
                        <path class="mainReportColorOutLine"
                              d="M25.62,11.12a2,2,0,0,1,1.17.77.63.63,0,0,1,.13.2c.07.42.38.49.73.55a12.73,12.73,0,0,1,2.83.82.41.41,0,0,0,.36,0,4.42,4.42,0,0,1,6.53,3.11A4.19,4.19,0,0,1,37,19.09a.47.47,0,0,0,0,.47,13.29,13.29,0,0,1,1.47,6.8,12.62,12.62,0,0,1-.88,4.06.37.37,0,0,0,.08.42,1.84,1.84,0,0,1-1.74,3,.35.35,0,0,0-.38.14,12.7,12.7,0,0,1-8.12,4.74A13,13,0,0,1,15,34a.36.36,0,0,0-.41-.14,1.84,1.84,0,0,1-1.89-.9,1.79,1.79,0,0,1,.15-2.05.48.48,0,0,0,.07-.53A13.09,13.09,0,0,1,14.4,18.13a.58.58,0,0,1,.62-.32.56.56,0,0,1,.31.9c-.34.57-.7,1.12-1,1.71a11.78,11.78,0,0,0-1.16,6.07A12.25,12.25,0,0,0,13.94,30c.05.13.1.2.26.19a1.76,1.76,0,0,1,1.72,1,1.79,1.79,0,0,1-.13,2s0,0,0,0a12.1,12.1,0,0,0,19.06,0,1.89,1.89,0,0,1-.31-1.69,1.79,1.79,0,0,1,1.76-1.3.35.35,0,0,0,.4-.28,12.14,12.14,0,0,0-.33-9.28c0-.09-.09-.17-.15-.28a4.53,4.53,0,0,1-1.93,1.17,9.82,9.82,0,0,1,0,8.23,9.68,9.68,0,0,1-4.44,4.69,9.88,9.88,0,1,1-1.13-18,4.56,4.56,0,0,1,1-2,10.32,10.32,0,0,0-2.56-.68.26.26,0,0,0-.22.12,1.8,1.8,0,0,1-1.67,1,1.73,1.73,0,0,1-1.63-1c-.11-.21-.26-.13-.39-.11a11.79,11.79,0,0,0-3.52,1.18c-.48.26-.93.55-1.4.84a.56.56,0,0,1-.74,0,.54.54,0,0,1,.13-.88,12.63,12.63,0,0,1,4-1.87c.52-.15,1.06-.23,1.59-.35.08,0,.21-.07.23-.13A2,2,0,0,1,25,11.12ZM32,31.27a2.79,2.79,0,0,0,.2-.24,8.66,8.66,0,0,0,1.19-8.7c-.24-.63-.25-.62-.9-.69a4.38,4.38,0,0,1-3.86-3.86.36.36,0,0,0-.27-.35A8.78,8.78,0,0,0,17.55,29.78c.28.51.63,1,1,1.55a5.32,5.32,0,0,1,4.29-3.61l-.1-.14a3.17,3.17,0,0,1-.8-2c0-1-.05-2,0-3a3.31,3.31,0,0,1,3-3.17,3.35,3.35,0,0,1,3.68,3c.05.92,0,1.85,0,2.77a3.52,3.52,0,0,1-.85,2.42.46.46,0,0,0-.05.1A5.32,5.32,0,0,1,32,31.27Zm-7.28-2.48c-.48,0-.94,0-1.39,0A4.11,4.11,0,0,0,19.51,32a.35.35,0,0,0,.13.42,8.76,8.76,0,0,0,11.31,0,.35.35,0,0,0,.13-.42c-.71-2.55-2.86-3.45-5.25-3.13v.3c0,.83,0,1.66,0,2.49a.54.54,0,0,1-.47.54.53.53,0,0,1-.57-.36.85.85,0,0,1,0-.32ZM36.33,17.27A3.31,3.31,0,1,0,33,20.58,3.31,3.31,0,0,0,36.33,17.27ZM23,24.69c0,.28,0,.51,0,.75a2.28,2.28,0,0,0,4.51.44,9.39,9.39,0,0,0,.06-1.19.32.32,0,0,0-.19-.34c-.29-.16-.58-.32-.86-.51a.27.27,0,0,0-.37,0,3.49,3.49,0,0,1-2.08.82Zm4.57-1.5v-.48a2.27,2.27,0,0,0-2.8-2.16,2.43,2.43,0,0,0-1.73,3.05h.32a2.79,2.79,0,0,0,2.48-.94.52.52,0,0,1,.69-.07Zm-2.3-9.47a.76.76,0,1,0-.74-.77A.76.76,0,0,0,25.28,13.72ZM15.05,32a.75.75,0,1,0-1.5,0,.75.75,0,0,0,.73.76A.76.76,0,0,0,15.05,32Zm20.49,0a.75.75,0,1,0,.76-.75A.76.76,0,0,0,35.54,32Z"/>
                        <path class="cls-1"
                              d="M32.73,17.38,34,16.07a.48.48,0,0,1,.56-.15.86.86,0,0,1,.36.42.58.58,0,0,1-.15.48c-.54.57-1.1,1.12-1.66,1.67a.5.5,0,0,1-.77,0c-.33-.31-.65-.63-1-.95a.55.55,0,0,1,0-.76.53.53,0,0,1,.78,0C32.37,17,32.53,17.16,32.73,17.38Z"/>
                    </svg>
                </div>
                </span>
            </td>
        </table>
        <!--    End header-->
        <div class="clearBoth"></div>
        <br>
        {# main guauge start #}
        {# <div style=" position: relative; clear: both;"></div> #}
        <div style="position: relative; right: 0; top: 0;">
            <div class="mainRiskGauge">
            </div>
            <canvas id="riskGauge"></canvas>
            {# <div class="numberCircle"> #}

            {# </div> #}
            <div class="mainRiskGaugeScore">
                {{ final_section.risks_score }}%
            </div>
            <div class="mainRiskGaugeCircleBackgroundHalf"></div>
            <div class="mainRiskGaugeCircleBackground"></div>
            <div class="mainRiskGaugeBackground"></div>
        </div>
        {# main guauge end #}

        <div class="text-center weightedScore">{{ final_section.weighted_score }}</div>
        <div class="text-center riskFont"
        "">
        {% if final_section.risks_score|round <= 25 %}
            <b>Very Low Risk</b>
        {% endif %}

        {% if ( final_section.risks_score|round  >= 26) and ( final_section.risks_score|round  <= 35 ) %}
            <b>Low Risk</b>
        {% endif %}


        {% if ( final_section.risks_score|round >= 36  ) and ( final_section.risks_score|round <= 55 ) %}
            <b>Moderate Risk</b>
        {% endif %}

        {% if ( final_section.risks_score|round   >= 56 ) and ( final_section.risks_score|round  <= 80 ) %}
            <b>High Risk</b>
        {% endif %}

        {% if ( final_section.risks_score   >= 81 ) %}
            <b>Extreme Risk </b>
        {% endif %}
    </div>

    <div class="spacer1"></div>
    {{ final_section.risk_comment | raw }}
    <div class="spacer1"></div>
    </div>
    <div class="page"></div>
    <div class="spacer1"></div>
    {# Main Header start #}
    <div style="position: relative; right: 0; top: 0;">
        <br>
        <div class="mainHeaders"> DISCLAIMER
        </div>
        <svg class="mainHeaderIcon" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 50 50">
            <path class="mainHeaderIconFillBackground"
                  d="M25,49.64a3,3,0,0,1-2.12-.88L1.24,27.12a3,3,0,0,1,0-4.24L22.88,1.24a3,3,0,0,1,4.24,0L48.76,22.88a3,3,0,0,1,0,4.24L27.12,48.76A3,3,0,0,1,25,49.64Z"/>
            <path class="mainHeaderIconFill2"
                  d="M25,.77a2.57,2.57,0,0,1,1.83.76L48.47,23.17a2.58,2.58,0,0,1,0,3.66L26.83,48.47a2.58,2.58,0,0,1-3.66,0L1.53,26.83a2.58,2.58,0,0,1,0-3.66L23.17,1.53A2.57,2.57,0,0,1,25,.77M25,0a3.43,3.43,0,0,0-2.41,1L1,22.59a3.41,3.41,0,0,0,0,4.82L22.59,49.05a3.4,3.4,0,0,0,4.82,0L49.05,27.41a3.41,3.41,0,0,0,0-4.82L27.41,1A3.43,3.43,0,0,0,25,0Z"/>
            <path class="mainHeaderIconFill2"
                  d="M33.2,13l.41.12a2.58,2.58,0,0,1,1.77,2.58v16c0,.53-.18.7-.71.7H31.3v3.36c0,.55-.16.72-.72.72H16.71c-.54,0-.71-.17-.71-.71v-20a2.55,2.55,0,0,1,2.13-2.66l.05,0Zm-2.44,1h-12a2.42,2.42,0,0,0-.54.06A1.51,1.51,0,0,0,17,15.66V35.42H30.27V15.72a2.8,2.8,0,0,1,.28-1.3C30.61,14.3,30.68,14.18,30.76,14Zm3.59,17.3V15.74a2.18,2.18,0,0,0,0-.25,1.52,1.52,0,0,0-2-1.38,1.54,1.54,0,0,0-1.07,1.61V31.09a2.29,2.29,0,0,0,0,.25Z"/>
            <path class="mainHeaderIconFill2"
                  d="M23.67,17.09h3.91c.47,0,.67.19.67.66v5.81c0,.47-.2.66-.67.66-2.62,0-5.23,0-7.85,0-.48,0-.67-.19-.67-.67V17.76c0-.49.19-.67.68-.67Zm-3.56,6.09H27.2V18.12H20.11Z"/>
            <path class="mainHeaderIconFill2"
                  d="M23.68,29.31h3.93c.35,0,.54.13.61.41a.49.49,0,0,1-.36.59,1.31,1.31,0,0,1-.34,0H19.78a1.33,1.33,0,0,1-.2,0,.54.54,0,0,1-.52-.54.54.54,0,0,1,.57-.49h4.05Z"/>
            <path class="mainHeaderIconFill2"
                  d="M23.64,27.29H19.77a1.08,1.08,0,0,1-.36-.05.47.47,0,0,1-.34-.46.49.49,0,0,1,.35-.49,1.24,1.24,0,0,1,.33,0h7.81c.39,0,.58.12.65.4a.47.47,0,0,1-.32.59,1,1,0,0,1-.34.05Z"/>
            <path class="mainHeaderIconFill2"
                  d="M23.68,32.38c1.32,0,2.65,0,4,0a.5.5,0,0,1,.55.66.48.48,0,0,1-.4.34H19.74c-.37,0-.56-.1-.64-.33a.5.5,0,0,1,.48-.68c.35,0,.7,0,1.05,0Z"/>
        </svg>

        {# <div class="numberCircle">30</div> #}
    </div>
    <div class="clearBoth"></div>
    {# Main Header end #}
    <div class="spacerTop"></div>
    <div class="contentBody">
        {{ final_section.disclaimer | raw }}
    </div>
    </body>


    <script src="http://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
    <script>
        const riskScoreValue = {{ final_section.risks_score }}

        var opts = {
            angle: -0.25, // The span of the gauge arc
            lineWidth: 0.2, // The line thickness
            radiusScale: 0.55, // Relative radius
            pointer: {
                length: 0.47, // // Relative to gauge radius
                strokeWidth: 0.064, // The thickness
                color: '#000000' // Fill color
            },
            limitMax: false,     // If false, max value increases automatically if value > maxValue
            limitMin: true,     // If true, the min value of the gauge will be fixed
            colorStart: '#6FADCF',   // Colors
            colorStop: '#8FC0DA',    // just experiment with them
            strokeColor: '#E0E0E0',  // to see which ones work best for you
            generateGradient: true,
            highDpiSupport: true,     // High resolution support
            staticZones: [
                {strokeStyle: "#7AAB41", min: 0, max: 19}, // green
                {strokeStyle: "#D3DC34", min: 19, max: 37}, // Light Yellow
                {strokeStyle: "#EDC527", min: 37, max: 62}, // Yellow / Orange
                {strokeStyle: "#DF542D", min: 62, max: 80}, // Orange
                {strokeStyle: "#DA362B", min: 80, max: 100}  // Red
            ],

        };
        var target = document.getElementById('riskGauge'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 100; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 1; // set animation speed (32 is default value)
        gauge.set(riskScoreValue); // set actual value
    </script>

{% endblock body %}