
<h4>Good Day </h4>
This is a  email notification:
<br>
<br>
Company: <b>{{ company }}</b><br><br>

Subject: <b> {{ subjectName }}</b><br>
Status: <b>{{ notification }}</b><br>
Request Type: <b>{{ request_type }}</b><br>
Report Type: <b>{{ report_type }}</b><br>
<br>
Please do not reply to this email, this is just a notification email.
<br>
<br>
Powered by : farosian.com



