<h2>Hello {{ user.firstName }} {{ user.lastName }}</h2>
<p>We have received a request to reset your password,
   if you made this request please follow the link below:
</p>
<a href="{{ resetUrl }}/{{ user.token }}">Reset Password</a> <br><br>
Or Copy this link to your browser:<br> {{ resetUrl }}/{{ user.token }}
<br><br>
Thanks!